# PlanAhead Generated physical constraints 
NET "BELL" LOC = P89;
#NET "led_n[0]" LOC = P49;
#NET "led_n[1]" LOC = P48;
#NET "led_n[2]" LOC = P40;
#NET "led_n[3]" LOC = P50;
#NET "led_n[4]" LOC = P62;
#NET "led_n[5]" LOC = P98;
#NET "led_n[6]" LOC = P64;
#NET "led_n[7]" LOC = P63;

#NET "led[0]" LOC = P106;
#NET "led[1]" LOC = P107;
#NET "led[2]" LOC = P108;
#NET "led[3]" LOC = P109;

#
#NET "sw[0]" LOC = P43;
#NET "sw[1]" LOC = P110;
#NET "sw[2]" LOC = P118;
#NET "sw[3]" LOC = P124;
#NET "sw[4]" LOC = P130;
#NET "sw[5]" LOC = P136;
#NET "sw[6]" LOC = P142;
#NET "sw[7]" LOC = P148;
##
NET "btn_n[0]" LOC = P54;
NET "btn_n[1]" LOC = P58;
NET "btn_n[2]" LOC = P57;
NET "btn_n[3]" LOC = P159;
#NET "btn_n[4]" LOC = P154;


#NET "led_n0" LOC = P49;
NET "CKHT" LOC = P183;
#NET "sw0" LOC = P43;
#NET "btn_n0" LOC = P54;

#NET "HWX" LOC = P42;
NET "DS18B20" LOC = P41;

#
#NET "sseg[0]" LOC = P49;
#NET "sseg[1]" LOC = P48;
#NET "sseg[2]" LOC = P40;
#NET "sseg[3]" LOC = P50;
#NET "sseg[4]" LOC = P62;
#NET "sseg[5]" LOC = P98;
#NET "sseg[6]" LOC = P64;
#NET "sseg[7]" LOC = P63;
#
#NET "anode[0]" LOC = P77;
#NET "anode[1]" LOC = P68;
#NET "anode[2]" LOC = P65;
#NET "anode[3]" LOC = P74;
#NET "anode[4]" LOC = P69;
#NET "anode[5]" LOC = P76;
#NET "anode[6]" LOC = P78;
#NET "anode[7]" LOC = P75;

#--GIAO TIEP DK LCD
NET "lcd_db[0]" LOC = P49;
NET "lcd_db[1]" LOC = P48;
NET "lcd_db[2]" LOC = P40;
NET "lcd_db[3]" LOC = P50;
NET "lcd_db[4]" LOC = P62;
NET "lcd_db[5]" LOC = P98;
NET "lcd_db[6]" LOC = P64;
NET "lcd_db[7]" LOC = P63;

NET "lcd_e" LOC = P65;
NET "lcd_rw" LOC = P68;
NET "lcd_rs" LOC = P77;

#--GIAO TIEP DK LED MA TRAN
#NET "COT[0]" LOC = P49;
#NET "COT[1]" LOC = P48;
#NET "COT[2]" LOC = P40;
#NET "COT[3]" LOC = P50;
#NET "COT[4]" LOC = P62;
#NET "COT[5]" LOC = P98;
#NET "COT[6]" LOC = P64;
#NET "COT[7]" LOC = P63;

#NET "HANG[0]" LOC = P94;
#NET "HANG[1]" LOC = P65;
#NET "HANG[2]" LOC = P69;
#NET "HANG[3]" LOC = P78;
#NET "HANG[4]" LOC = P68;
#NET "HANG[5]" LOC = P74;
#NET "HANG[6]" LOC = P76;
#NET "HANG[7]" LOC = P75;

#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#--GIAO TIEP SRAM IS61LV25616
#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# ADDRESS BUS 18 BIT

#NET "SRAM_ADDR_O[0]" LOC = P34;
#NET "SRAM_ADDR_O[1]" LOC = P35;
#NET "SRAM_ADDR_O[2]" LOC = P36;
#NET "SRAM_ADDR_O[3]" LOC = P39;
#NET "SRAM_ADDR_O[4]" LOC = P5;
#NET "SRAM_ADDR_O[5]" LOC = P4;
#NET "SRAM_ADDR_O[6]" LOC = P3;		
#NET "SRAM_ADDR_O[7]" LOC = P2;
#NET "SRAM_ADDR_O[8]" LOC = P205;
#NET "SRAM_ADDR_O[9]" LOC = P203;
#NET "SRAM_ADDR_O[10]" LOC = P167;
#NET "SRAM_ADDR_O[11]" LOC = P168;
#NET "SRAM_ADDR_O[12]" LOC = P171;
#NET "SRAM_ADDR_O[13]" LOC = P172;
#NET "SRAM_ADDR_O[14]" LOC = P177;
#NET "SRAM_ADDR_O[15]" LOC = P162;
#NET "SRAM_ADDR_O[16]" LOC = P161;
#NET "SRAM_ADDR_O[17]" LOC = P160;

# DATA BUS 16 BIT

#NET "SRAM_DATA_IO[0]" LOC = P9;
#NET "SRAM_DATA_IO[1]" LOC = P11;
#NET "SRAM_DATA_IO[2]" LOC = P12;
#NET "SRAM_DATA_IO[3]" LOC = P15;
#NET "SRAM_DATA_IO[4]" LOC = P16;
#NET "SRAM_DATA_IO[5]" LOC = P18;
#NET "SRAM_DATA_IO[6]" LOC = P19;
#NET "SRAM_DATA_IO[7]" LOC = P22;
#NET "SRAM_DATA_IO[8]" LOC = P196;
#NET "SRAM_DATA_IO[9]" LOC = P192;
#NET "SRAM_DATA_IO[10]" LOC = P193;
#NET "SRAM_DATA_IO[11]" LOC = P189;
#NET "SRAM_DATA_IO[12]" LOC = P190;
#NET "SRAM_DATA_IO[13]" LOC = P187;
#NET "SRAM_DATA_IO[14]" LOC = P181;
#NET "SRAM_DATA_IO[15]" LOC = P180;

#CONTROL BUS
#NET "SRAM_CE_N" LOC = P179;
#NET "SRAM_LB_N" LOC = P165;
#NET "SRAM_OE_N" LOC = P163;
#NET "SRAM_UB_N" LOC = P164;
#NET "SRAM_WE_N" LOC = P8;

#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#--GIAO TIEP SDRAM IS42S16400
#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# ADDRESS BUS 18 BIT CHUNG BUS VOI TU A0 DEN A9
#NET "SDRAM_ADDR_O[0]" LOC = P34;
#NET "SDRAM_ADDR_O[1]" LOC = P35;
#NET "SDRAM_ADDR_O[2]" LOC = P36;
#NET "SDRAM_ADDR_O[3]" LOC = P39;
#NET "SDRAM_ADDR_O[4]" LOC = P5;
#NET "SDRAM_ADDR_O[5]" LOC = P4;
#NET "SDRAM_ADDR_O[6]" LOC = P3;		
#NET "SDRAM_ADDR_O[7]" LOC = P2;
#NET "SDRAM_ADDR_O[8]" LOC = P205;
#NET "SDRAM_ADDR_O[9]" LOC = P203;
#
#NET "SDRAM_ADDR_O[10]" LOC = P33;
#NET "SDRAM_ADDR_O[11]" LOC = P202;
#
## DATA BUS 16 BIT CHUNG VOI SRAM
#
#NET "SDRAM_DATA_IO[0]" LOC = P9;
#NET "SDRAM_DATA_IO[1]" LOC = P11;
#NET "SDRAM_DATA_IO[2]" LOC = P12;
#NET "SDRAM_DATA_IO[3]" LOC = P15;
#NET "SDRAM_DATA_IO[4]" LOC = P16;
#NET "SDRAM_DATA_IO[5]" LOC = P18;
#NET "SDRAM_DATA_IO[6]" LOC = P19;
#NET "SDRAM_DATA_IO[7]" LOC = P22;
#NET "SDRAM_DATA_IO[8]" LOC = P196;
#NET "SDRAM_DATA_IO[9]" LOC = P192;
#NET "SDRAM_DATA_IO[10]" LOC = P193;
#NET "SDRAM_DATA_IO[11]" LOC = P189;
#NET "SDRAM_DATA_IO[12]" LOC = P190;
#NET "SDRAM_DATA_IO[13]" LOC = P187;
#NET "SDRAM_DATA_IO[14]" LOC = P181;
#NET "SDRAM_DATA_IO[15]" LOC = P180;

#CONTROL BUS

#NET "SDRAM_BA[0]" LOC = P30;
#NET "SDRAM_BA[1]" LOC = P31;
#
#NET "SDRAM_CKE" LOC = P199;
#NET "SDRAM_CLK" LOC = P200;

#NET "SDRAM_CS_N" LOC = P29;
#
#NET "SDRAM_RAS_N" LOC = P28;
#NET "SDRAM_CAS_N" LOC = P25;
#
#NET "SDRAM_WE_N" LOC = P24;
#
#NET "SDRAM_LDQM" LOC = P23;
#NET "SDRAM_UDQM" LOC = P197;

#--GIAO TIEP DS1302
#NET "DS_CLK" LOC = P99;
#NET "DS_DATA" LOC = P100;
#NET "DS_RESET" LOC = P96;

#--GIAO TIEP EEPROM 
#NET "SCL" LOC = P47;
#NET "SDA" LOC = P45;

#--GIAO RS232 
#NET "UART_RX" LOC = P40;
#NET "UART_TX" LOC = P48;

#--GIAO PS/2 
#NET "PS2_DATA" LOC = P30;
#NET "PS2_CLK" LOC = P105;
